.todo-item {
    border-radius: 2rem;
}

.todo-content {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

input[type="checkbox"] {
    appearance: none;
    min-width: 1.5rem;
    min-height: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;

}

input[type="checkbox"]:checked {
    background: transparent;
    /* or your custom color */
    border: 5px var(--primary-clr) solid;
}

.completed {
    text-decoration: line-through;
    color: var(--primary-clr);
}