<div class="contact-page page-transition">

    <div class="contact-header">
        <h1>Contact</h1>
        <p>Feel free to reach out to me through the following channels:</p>
    </div>
    <div class="contact-content">
        <glass-effect class="contact-card">
            <div class="contact-card-content">
                <h2>Contact Me</h2>
                <p><strong>Name:</strong> Imon Chowdhury (IC)</p>
                <p><strong>Email:</strong> imonchowdhury4666&#64;.com</p>
                <p><strong>Phone:</strong> +880 1969-281606</p>
                <p><strong>Location:</strong> Dhaka, Bangladesh</p>
                <button>Send Message</button>
            </div>
        </glass-effect>
    </div>

</div>