.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 2rem;
    padding: 0 0rem 2rem;
}
.home-page__header{
    width: 100%;
}

.todos-content{
    width: min(100%, 50rem);
}
